In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('notasCurso.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        115 non-null    int64
 1   Session 2                 115 non-null    float64
 2   Session 3                 115 non-null    float64
 3   Session 4                 115 non-null    float64
 4   Session 5                 115 non-null    float64
 5   Session 6                 115 non-null    float64
 6   Nota primera oportunidad  115 non-null    float64
 7   Nota segunda oportunidad  115 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 7.3 KB

In [6]:
data.describe()

,ID,Session 2,Session 3,Session 4,Session 5,Session 6,Nota primera oportunidad,Nota segunda oportunidad
count,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.00000,115.000000
mean,58.000000,2.886957,2.134783,3.943478,3.030435,1.695652,27.16087,26.826087
std,33.341666,2.093286,1.545114,1.531490,1.485732,1.219713,35.44427,31.381778
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,29.500000,0.000000,0.500000,4.000000,3.000000,0.125000,0.00000,0.000000
50%,58.000000,3.500000,2.500000,4.500000,3.500000,2.000000,0.00000,17.000000
75%,86.500000,4.500000,3.500000,5.000000,4.000000,2.750000,64.25000,48.500000
max,115.000000,6.000000,4.000000,5.000000,4.000000,4.000000,98.00000,97.500000

In [18]:
data[data['Nota primera oportunidad']>=60].count()

ID                          31
Session 2                   31
Session 3                   31
Session 4                   31
Session 5                   31
Session 6                   31
Nota primera oportunidad    31
Nota segunda oportunidad    31
dtype: int64

In [19]:
data[data['Nota segunda oportunidad']>=60].count()

ID                          21
Session 2                   21
Session 3                   21
Session 4                   21
Session 5                   21
Session 6                   21
Nota primera oportunidad    21
Nota segunda oportunidad    21
dtype: int64

In [27]:
data.loc[(data['Nota primera oportunidad']!=0) | (data['Nota segunda oportunidad']!=0),['Nota primera oportunidad','Nota segunda oportunidad']].count()

Nota primera oportunidad    93
Nota segunda oportunidad    93
dtype: int64

In [30]:
data.loc[(data['Nota primera oportunidad']==0) & (data['Nota segunda oportunidad']==0),['Nota primera oportunidad','Nota segunda oportunidad']].count()

Nota primera oportunidad    22
Nota segunda oportunidad    22
dtype: int64

In [28]:
data.loc[(data['Nota primera oportunidad']!=0) | (data['Nota segunda oportunidad']!=0),['Nota primera oportunidad','Nota segunda oportunidad']]

     Nota primera oportunidad  Nota segunda oportunidad
0                         0.0                      94.5
1                         0.0                      44.0
2                        85.0                       0.0
3                         0.0                      30.0
4                         0.0                      38.5
..                        ...                       ...
100                      18.5                      32.0
101                       0.0                      31.5
102                       0.0                      18.5
103                       0.0                      92.0
105                      45.5                      71.0

[93 rows x 2 columns]

In [29]:
data.loc[(data['Nota primera oportunidad']>=60) & (data['Nota segunda oportunidad']>=60),['Nota primera oportunidad','Nota segunda oportunidad']]

    Nota primera oportunidad  Nota segunda oportunidad
55                      71.5                      84.0
66                      80.5                      92.0
67                      62.5                      91.0

### Se evalua los siguientes caso
> El estudiante aprobo en el primer intento  
> El estudiante aprobo en el segundo intento  
> El estudiante aprobo en el primer intento y repitio para mejorar el puntaje

In [35]:
pasa = lambda x,y:int(x>=60 or y>=60)

### Se considera una nota final mayor de 60 para aprobar el curso

In [43]:
data['aprobar'] = data.apply(lambda x: pasa(x['Nota primera oportunidad'],x['Nota segunda oportunidad']), axis=1)

In [44]:
data

,ID,Session 2,Session 3,Session 4,Session 5,Session 6,Nota primera oportunidad,Nota segunda oportunidad,aprobar
0,1,5.0,0.0,4.5,4.0,2.25,0.0,94.5,1
1,2,4.0,3.5,4.5,4.0,1.00,0.0,44.0,0
2,3,3.5,3.5,4.5,4.0,0.00,85.0,0.0,1
3,4,6.0,4.0,5.0,3.5,2.75,0.0,30.0,0
4,5,5.0,4.0,5.0,4.0,2.75,0.0,38.5,0
...,...,...,...,...,...,...,...,...,...
110,111,3.0,0.0,0.0,3.0,0.00,0.0,0.0,0
111,112,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0
112,113,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0
113,114,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0
114,115,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0

In [46]:
data.to_csv('Deeds_Machine-Learning/Data/aprobados_reprobados.csv')