In [1]:
import pandas as pd

In [2]:
notasIntermedias = pd.read_excel('intermediate_grades.xlsx',sep=',', sheet_name='Intermediate grades')

notasFinal1 = pd.read_excel('final_grades.xlsx',sep=',', sheet_name='Exam (First time)')
notasFinal2 = pd.read_excel('final_grades.xlsx',sep=',', sheet_name='Exam (Second time)')

In [3]:
notasFinalPrimera=notasFinal1[['Student ID','TOTAL\n(100 points)']]

notasFinalPrimera.rename(columns={'Student ID': 'ID', 'TOTAL\n(100 points)': 'Nota primera oportunidad'}, inplace=True)

C:\Users\jonat\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [4]:
notasFinalSegunda=notasFinal2[['Student ID','TOTAL\n(100 points)']]

notasFinalSegunda.rename(columns={'Student ID': 'ID', 'TOTAL\n(100 points)': 'Nota segunda oportunidad'}, inplace=True)

notasIntermedias.rename(columns={'Student Id': 'ID'}, inplace=True)

In [5]:
objs = [notasFinalPrimera,notasFinalSegunda] 
notas = pd.concat(objs,ignore_index=True)

In [6]:
lista = []
for i in range(1,116):
    lista.append(i)

data = {'ID': lista,'valor':lista}
df = pd.DataFrame(data,columns=['ID','valor'])
obj = [df,notasFinalPrimera,notasFinalSegunda]

res = pd.merge(df, notasFinalPrimera, on='ID', how='outer')
final = pd.merge(res, notasFinalSegunda, on='ID', how='outer')
notasCompleto = pd.merge(final, notasIntermedias, on='ID', how='outer')

notasExamenFinal = (notasCompleto[['ID','Session 2','Session 3','Session 4','Session 5','Session 6','Nota primera oportunidad','Nota segunda oportunidad']]).fillna(0)

In [7]:
notasExamenFinal.to_csv('notasCurso.csv', index=False, header=True,encoding='utf-8')

In [8]:
notasExamenFinal

,ID,Session 2,Session 3,Session 4,Session 5,Session 6,Nota primera oportunidad,Nota segunda oportunidad
0,1,5.0,0.0,4.5,4.0,2.25,0.0,94.5
1,2,4.0,3.5,4.5,4.0,1.00,0.0,44.0
2,3,3.5,3.5,4.5,4.0,0.00,85.0,0.0
3,4,6.0,4.0,5.0,3.5,2.75,0.0,30.0
4,5,5.0,4.0,5.0,4.0,2.75,0.0,38.5
...,...,...,...,...,...,...,...,...
110,111,3.0,0.0,0.0,3.0,0.00,0.0,0.0
111,112,0.0,0.0,0.0,0.0,0.00,0.0,0.0
112,113,0.0,0.0,0.0,0.0,0.00,0.0,0.0
113,114,0.0,0.0,0.0,0.0,0.00,0.0,0.0
114,115,0.0,0.0,0.0,0.0,0.00,0.0,0.0